
simplified-ft.sketch/version

simplified-ft.sketch/Data

simplified-ft.sketch/metadata

simplified-ft.sketch/QuickLook/Preview.png

simplified-ft.sketch/QuickLook/Thumbnail.png

brand-ft-logo-square.svg
